.banner
{
    background-image: url(../images/images\ \(8\).jpeg);
    padding: 230px 0;
    background-size: cover;
    background-repeat: no-repeat;
}
.skills
{
    padding: 70px 0;
}
.contact-form
{
    
    color: #fff;


}
nav a:hover
{
    background-color: #2196f3;
    color: #fff;
}

.degree
{
    font-weight: 500;
}
footer p
{
    width: 100%;
}

